<form
  #form="ngForm"
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="onSubmit(content)"
  class="form"
>
  <div class="p-5">
    <div class="card col-lg-4 offset-4">
      <b class="card-title text-center pt-3">
        Enter your LoginId or Registered Email to get OTP
      </b>
      <div class="card-body">
        <div class="form-group">
          <!-- <label for="loginId">LoginId/Email</label> -->
          <input
            id="loginId"
            type="text"
            placeholder="LoginId/Email"
            formControlName="userIdentity"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                fpControls['userIdentity'].touched &&
                fpControls['userIdentity'].errors
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              fpControls['userIdentity'].touched &&
              fpControls['userIdentity'].errors
            "
          >
            <small *ngIf="fpControls['userIdentity'].errors['required']"
              >This field is required!</small
            >
          </div>
        </div>
        <div *ngIf="isLoading" style="text-align: center">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <div class="form-group mt-2" *ngIf="!isLoading">
          <input
            id="OTP"
            type="text"
            placeholder="Enter OTP"
            formControlName="OTP"
            class="form-control pt-2"
            *ngIf="sentOTP"
            [ngClass]="{
              'is-invalid':
                fpControls['OTP'].touched && fpControls['OTP'].errors
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="fpControls['OTP'].touched && fpControls['OTP'].errors"
          >
            <small *ngIf="fpControls['OTP'].errors['required']"
              >This field is required!</small
            >
          </div>
        </div>
        <div class="form-group pt-2">
          <button
            type="submit"
            style="color: blue"
            class="btn btn-warning"
            (click)="printForgotFormval()"
            [disabled]="forgotPasswordForm.invalid"
          >
            {{ OTPButtonText }}
          </button>
          <span *ngIf="sentOTP" class="ps-5">
            <button (click)="sendOTPAgain(content2)" class="btn btn-primary">
              Send Again
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</form>
<ng-template #content let-c="close" let-d="dismiss">
  <div *ngIf="isLoading" style="text-align: center">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div *ngIf="!isLoading">
    <div *ngIf="error || !isOTPMatched">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
          An unexpected error occured!
        </h4>
      </div>
      <div *ngIf="error" class="modal-body">
        <p>{{ error }}</p>
      </div>
      <div *ngIf="respMessage" class="modal-body">
        <p>{{ respMessage }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          *ngIf="error || !isOTPMatched"
          class="btn btn-outline-dark"
          (click)="closeAfterError()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #content2 let-c="close" let-d="dismiss">
  <div *ngIf="isLoading" style="text-align: center">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div *ngIf="error">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        An unexpected error occured!
      </h4>
    </div>
    <div *ngIf="error" class="modal-body">
      <p>{{ error }}</p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        *ngIf="error"
        class="btn btn-outline-dark"
        (click)="closeAfterError()"
      >
        Ok
      </button>
    </div>
  </div>
</ng-template>
