<ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs justify-content-center">
  <!-- <li [ngbNavItem]="home">
    <a ngbNavLink [routerLink]="home">Home</a>
    <button ngbNavLink>Home</button>
    <ng-template ngbNavContent>
      <p>
        Raw denim you probably haven't heard of them jean shorts Austin.
        Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
        cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
        butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui
        irure terry richardson ex squid. Aliquip placeat salvia cillum iphone.
        Seitan aliquip quis cardigan american apparel, butcher voluptate nisi
        qui.
      </p>
    </ng-template>
  </li> -->
  <!-- <li [ngbNavItem]="2">
    <button ngbNavLink>Fancy title</button>
    <ng-template ngbNavContent>
      <p>
        Exercitation +1 labore velit, blog sartorial PBR leggings next level wes
        anderson artisan four loko farm-to-table craft beer twee. Qui photo
        booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
        ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore
        aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero
        magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes
        anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry
        richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
        sint qui sapiente accusamus tattooed echo park.
      </p>
    </ng-template>
  </li> -->
  <li *ngIf="isLoggedIn" ngbDropdown class="nav-item" role="presentation">
    <button type="button" class="nav-link" ngbDropdownToggle>
      Welcome {{ loginId }}
    </button>
    <div ngbDropdownMenu>
      <a
        ngbDropdownItem
        [routerLink]="addMovie"
        [routerLinkActive]="['active']"
        *ngIf="role == 'admin'"
        >Add Movie Poster</a
      >
      <button ngbDropdownItem>Another action</button>
      <button ngbDropdownItem>Something else here</button>
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem (click)="loggingOut()">Logout</button>
    </div>
  </li>
  <!-- <li [ngbNavItem]="movies">
    <a ngbNavLink [routerLink]="movies" [routerLinkActive]="['active']"
      >Movies</a
    >
  </li> -->
  <ng-container *ngFor="let link of links">
    <li [ngbNavItem]="link.route" *ngIf="!link.afterLoginDisable">
      <a
        ngbNavLink
        [routerLink]="link.route"
        [routerLinkActive]="['active']"
        (click)="searchMovieQueryReset()"
        >{{ link.title }}</a
      >
    </li>
  </ng-container>

  <form class="d-flex ms-auto" role="search">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search Movies"
      aria-label="Search"
      name="searchVal"
      [(ngModel)]="searchValue"
    />
    <button
      class="btn btn-outline-success"
      type="button"
      (click)="searchMovie()"
    >
      Search
    </button>
  </form>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
