<ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs justify-content-center">
  <li *ngIf="isLoggedIn" ngbDropdown class="nav-item" role="presentation">
    <button type="button" class="nav-link" ngbDropdownToggle>
      Welcome {{ loginId }}
    </button>
    <div ngbDropdownMenu>
      <a
        ngbDropdownItem
        [routerLink]="addMovie"
        [routerLinkActive]="['active']"
        *ngIf="isLoggedIn && role == 'admin'"
        >Add Movie Poster</a
      >
      <a
        *ngIf="isLoggedIn"
        ngbDropdownItem
        [routerLink]="['mybookings']"
        [routerLinkActive]="['active']"
        >My Bookings</a
      >
      <a
        ngbDropdownItem
        [routerLink]="['users']"
        [routerLinkActive]="['active']"
        *ngIf="isLoggedIn && role == 'admin'"
        >All Users</a
      >
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem (click)="loggingOut()">Logout</button>
    </div>
  </li>
  <ng-container>
    <li [ngbNavItem]="['movies']">
      <a
        ngbNavLink
        [routerLink]="['movies']"
        [routerLinkActive]="['active']"
        (click)="searchMovieQueryReset()"
        >Movies</a
      >
    </li>
    <li [ngbNavItem]="['login']" *ngIf="!isLoggedIn">
      <a ngbNavLink [routerLink]="['login']" [routerLinkActive]="['active']">
        login</a
      >
    </li>
    <li [ngbNavItem]="['register']" *ngIf="!isLoggedIn">
      <a ngbNavLink [routerLink]="['register']" [routerLinkActive]="['active']">
        Register</a
      >
    </li>
  </ng-container>

  <form class="d-flex ms-auto" role="search">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search Movies"
      aria-label="Search"
      name="searchVal"
      [(ngModel)]="searchValue"
    />
    <button
      class="btn btn-outline-success"
      type="button"
      (click)="searchMovie()"
    >
      Search
    </button>
  </form>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
