<form [formGroup]="bookTicketForm" (ngSubmit)="onSubmit(content)" class="form">
  <div class="bookMovieCard">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label for="movieName">Movie Name</label>
          <input
            id="movieName"
            type="text"
            formControlName="movieName"
            class="form-control"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="theatreName">Theatre Name</label>
          <input
            id="theatreName"
            type="text"
            formControlName="theatreName"
            class="form-control"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="seats">Seat Capacity</label>
          <input
            id="seats"
            type="number"
            formControlName="seats"
            class="form-control"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="releaseDate">Release Date</label>
          <input class="form-control" formControlName="releaseDate" readonly />
        </div>
        <div class="form-group">
          <label for="seatCount">Seat Count</label>
          <input
            id="seatCount"
            type="number"
            formControlName="seatCount"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                btfControls['seatCount'].touched &&
                btfControls['seatCount'].errors
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              btfControls['seatCount'].touched &&
              btfControls['seatCount'].errors
            "
          >
            <small *ngIf="btfControls['seatCount'].errors['required']"
              >This field is required!</small
            >
            <small *ngIf="btfControls['seatCount'].errors['min']"
              >Please Book minimum 1 seat to continue!</small
            >
          </div>
        </div>
        <div class="form-group">
          <label for="seatNumbers">Seat Count</label>
          <input
            id="seatNumbers"
            type="text"
            formControlName="seatNumbers"
            class="form-control"
            placeholder="Put the seat numbers separated with comma(,)"
            [ngClass]="{
              'is-invalid':
                btfControls['seatNumbers'].touched &&
                btfControls['seatNumbers'].errors
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              btfControls['seatNumbers'].touched &&
              btfControls['seatNumbers'].errors
            "
          >
            <small *ngIf="btfControls['seatNumbers'].errors['required']"
              >This field is required!</small
            >
            <small *ngIf="btfControls['seatNumbers'].errors['pattern']"
              >Please enter the seat numbers separated with only ',' Ex-
              2,3</small
            >
          </div>
        </div>
        <div class="form-group pt-2">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="bookTicketForm.invalid"
          >
            Book Now
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<ng-template #content let-c="close" let-d="dismiss">
  <div *ngIf="isLoading" style="text-align: center">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div *ngIf="!isLoading">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" *ngIf="error">
        An unexpected error occured!
      </h4>
      <h4 class="modal-title" id="modal-basic-title" *ngIf="!error">
        Hi there!
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        *ngIf="error"
        (click)="d('Cross click')"
      ></button>
    </div>
    <div *ngIf="error" class="modal-body">
      <p>{{ error }}</p>
    </div>
    <div *ngIf="bookTicketResponse" class="modal-body">
      <p>{{ bookTicketResponse.message }}</p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        *ngIf="error"
        class="btn btn-outline-dark"
        (click)="c('Ok')"
      >
        Ok
      </button>
      <button
        type="button"
        *ngIf="bookTicketResponse"
        class="btn btn-outline-success"
        (click)="ticketBooked()"
      >
        Done
      </button>
    </div>
  </div>
</ng-template>
